<ion-header [translucent]="true">
  <!-- ... cabeçalho ... -->
</ion-header>

<ion-content fullscreen="true">
  <ion-item lines="full" *ngFor="let produto of listaProdutos">
    <ion-thumbnail slot="start">
      <img [src]="produto.foto" />
    </ion-thumbnail>

    <ion-label color="dark">
      <h2 class="custom-title">{{ produto.nome | uppercase }}</h2>
      <p>{{ produto.descricao }}</p>
    </ion-label>

    <ion-badge color="dark">R$ {{ produto.preco | number: '1.2-2' }}</ion-badge>

    <ion-button expand="block" slot="end" color="dark" (click)="addProdutoCarrinho(produto)">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
