<ion-header>
  <ion-toolbar color="primary">

    <ion-title>
      TatãoStore
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="secondary" routerLink="/carrinho">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge color="success">{{ qtdeItensCarrinho }}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="secondary" class="ion-text-center" routerLink="/promocoes">
          <img src="../../assets/img/promocaoPrimavera.gif" alt="">
          <ion-item lines="none" color="secondary">
            <ion-label class="titulo promocao">Confira Nossas Promoções</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let categoria of categorias">
        <ion-card [color]="categoria.cor" routerLink="/{{categoria.rota}}">
          <img [src]="categoria.imagem" alt="">
          <ion-item lines="full" [color]="categoria.cor">
            {{ categoria.nome }}
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
